body{
    font-family: 'Kanit', sans-serif;
    font-size:20px;
}
.search-bar
{
    margin:5px;
    background-color:#0F0F0F;
    border-color: #0F0F0F;
    width:250px;
    color:white;
    padding:5px;
}
#searchTool
{
    padding:10px;

}
.logo-FreeWild img
{
    display:block;margin-left:auto;margin-right:auto;
    margin-left:auto;
    margin-right:auto;
}
.dropdown
{

    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    background: transparent url('img/arrow_down_icon.png') no-repeat 97% 95% ;
    background-size: 14px 10px;
}
.dropdown-toggle::after {
    display:none;
}
#welcome
{
    font-size:20px;
    margin-left:35%;
    margin-right:auto;
    bottom:340%;
    width:250px;
    position:absolute;

}
.loremIpsum
{
    margin-left:30%;
    margin-right:auto;
    bottom:180%;
    font-size:10px;
    width:320px;
    position:absolute;
}
.navbar
{
    background-color: #0F0F0F;
}
.navbar-nav
{
    padding:10px;
}
.nav-link
{
    white-space: nowrap;
}
.carousel-inner
{
    position:relative;
}
.takeALook
{
    font-size:12px;
    padding:5px;
    border:5px solid #fff;
    background-color:Transparent;
    color:white;
    display:block;
    position:absolute;
    margin-left:45%;
    margin-right:auto;
    bottom:10px;

}
.productsSlider
{
    margin-left:15%;
    font-size:20px;
    overflow: auto;
    width: 100%;
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */


}

.products-list
{
    width: 198%;
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */

}
.product-item
{
    padding:10px;
    float:left;
    width: 226px;
    height: 411px;
    margin-left: 45px;
    margin-right: 45px;
}
.page-footer
{
    height: 275px;
    color:white;
    background-color: #0F0F0F;
}
#searchTool img
{
    visibility: hidden;
}
.joinOurMailing
{
    width:72px;
    color:white;
    background-color: salmon;
}
@media (max-width:1199px)
{
    #searchTool img
    {
        visibility: hidden;
    }
    .productsSlider
    {
        margin-left:5%;
        font-size:20px;
        overflow: auto;
        width: 100%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */


    }

    .products-list
    {
        width: 244%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */

    }
    .product-item
    {
        padding:10px;
        float:left;
        width: 226px;
        height: 411px;
        margin-left: 45px;
        margin-right: 45px;
    }
    #welcome
    {
        margin-left: -100px;
        margin-bottom: -150px;
    }
    .loremIpsum
    {
        visibility: hidden;
    }
    .search-bar
    {
        width:80%;
    }
    .page-footer
    {

        height: 325px;
        color:white;
        background-color: #0F0F0F;
    }
}
@media (max-width:991px)
{
    #searchTool img
    {
        visibility: hidden;
    }
    .productsSlider
    {
        margin-left:5%;
        font-size:20px;
        overflow: auto;
        width: 100%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */


    }

    .products-list
    {
        width: 324%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */

    }
    .product-item
    {
        padding:10px;
        float:left;
        width: 226px;
        height: 411px;
        margin-left: 45px;
        margin-right: 45px;
    }
    #welcome
    {
        margin-left: -100px;
        margin-bottom: -150px;
    }
    .loremIpsum
    {
        visibility: hidden;
    }
    .search-bar
    {
        width:80%;
    }
    .page-footer
    {

        height: 375px;
        color:white;
        background-color: #0F0F0F;
    }
}
@media (max-width:767px)
{
    #searchTool img
    {
        visibility: hidden;
    }
    #basket-div
    {
        width:0px;
    }
    .productsSlider
    {
        margin-left:10%;
        font-size:20px;
        overflow: auto;
        width: 100%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */


    }
    .products-list
    {
        width: 100%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */


    }
    .product-item
    {
        padding:10px;
        float:left;
        width: 226px;
        height: 411px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .page-footer
    {
        height: 275px;
        color:white;
        background-color: #0F0F0F;
    }
}

@media (max-width:575px)
{
    #searchTool img
    {
        visibility: visible;
    }
    #searchTool
    {
        margin-left:10px;
    }
    .productsSlider
    {
        margin-left:0;
        font-size:20px;
        overflow: auto;
        width: 100%;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */


    }
    .products-list
    {

        width: 50%;
        margin: 0 auto;
        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */


    }
    .product-item
    {
        padding:10px;
        float:left;
        width: 226px;
        height: 411px;
        margin-left: 4px;
        margin-right: 4px;
    }
    #welcome
    {
        visibility: hidden;
    }
    .page-footer
    {
        height: 275px;
        color:white;
        background-color: #0F0F0F;
    }
}

#Birds
{
    font-size:32px;

    margin-left:5%;
}
#featured-slider
{
    height:450px;
}
.product-price
{
    color:red;
}
#wildAnimals
{
    font-size:32px;
    margin-left:5%;
}
#new-slider
{
    height:860px;
}
span
{
    color:black;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 16px;
    border: none;
    background:transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #fa7070;
}

::-webkit-scrollbar-track {
    background-image: url("img/scrollbar-track.png");
    background-repeat: repeat-x;
    background-size: contain;
}






